textarea {
	width: 100%;
	height: 100%;
	background: #222222;
	border: 0px;
	font-family: "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	color: #d4d4d4;
}

button.ephemeral-button:disabled img, button.ephemeral-button span {
	display: inline;
}
button.ephemeral-button img, button.ephemeral-button:disabled span {
	display: none;
}
input[type="file"] {
	display: none;
}
