#header {
  border-color: transparent;
  margin: 0;
  border-bottom-width: 0;

  background-color: $header-color--primary;

  & .caret {
    border-top-color: $white;
    border-bottom-color: $white; 
  }

  & .active {
    a {
      background-color: $header-color--active;
    }
  }

  & .navbar-header {
    // Navbar hamburguer
    .navbar-toggle {
      border: 0;
      margin-right: 30px;
      background-color: $primary-color--darker;
      width: 35px;

      &:focus {
        background-color: $primary-color;
        width: 35px;
      }
      
      &:hover {
        background-color: $primary-color--darker;
      }

      .icon-bar {
        background-color: $white;
        width: 22px;
        transition: all 0.2s;
      }

      // abajo
      .icon-bar:last-child {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }

      // arriba
      .icon-bar:nth-child(2) {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }

      // medio
      .icon-bar:nth-child(3) {
        opacity: 0;
      }
      
      &.collapsed {
        width: 42px;
        background-color: $primary-color;
        
        .icon-bar:last-child {
          transform: rotate(0);
        }

        .icon-bar:nth-child(2) {
          transform: rotate(0);
        }

        .icon-bar:nth-child(3) {
          opacity: 1;
        }
      }
    }

    img {
      height: 20px;
    }

    .navbar-brand {
      background-color: $white;
      background-image: linear-gradient(to bottom,$white 0,$gray-lighter-2 100%);

      @include breakpoint(mobile) {
        padding-left: 30px;
      }
    }
  }

  & .navbar-collapse {
    @include breakpoint(desktop) {
      width: 100% !important;
    }

    & .collapse {
      @include breakpoint(mobile) {
        & .in {
          li {
            a {
              color: $header-fontcolor--primary;
              background-color: $primary-color--darker;
              margin-left: 5px;
      
              &:hover {
                background-color: $header-color--hover;
              }
            }
          }
        }
      }
    }

    .navbar-nav {
      li {
        // navbar items
        a {
          color: $white;

          &:hover {
            background-color: $header-color--hover;
          }
        }

        // submenu on navbar
        &.dropdown {
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }

          ul.dropdown-menu {
            li {
              a {
                color: $black;

                &:hover {
                  background-color: $gray-lighter-2;

                  @include breakpoint(mobile) {
                    background-color: $header-color--hover;
                  }
                }
              }
            }
          }
  
          @include breakpoint(mobile) {
            &:hover {
              position: inherit;
            }
  
            &.open {
              & > a {
                background-color: $header-color--active;
              }
  
              .dropdown-menu {
                li {
                  a {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  & #user-dropdown {
    // Elimina el padding del elemento dropdown del nombre
    // del usuario para la redimesion de la imagen de perfil.
    padding: 0 12px 0 0;

    span {
      vertical-align: middle;

      & .username {
        display: inline-block;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    img {
      width: 51px;
      height: 51px;
      margin-right: 10px; 
    }
  }

  & .navbar-text {
    color: $header-fontcolor--primary;
  }

  .navbar-inner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint(mobile) {
      height: 50px;

      .navbar-collapse {
        height: 100%; 
        width: 0; 
        position: fixed;
        z-index: 1;
        right: 0;
        background-color: $blue-darker-1;
        overflow-x: hidden;
        padding-left: 0;
        padding-right: 0;
        transition: 0.5s;
      }
    }
  }

  #grader-status {
    a {
      background-color: $white;
      color: $black;

      &.grader-error {
        color: $status-color--error;
        background-image: linear-gradient($status-color--error--lighter-2 0px, $status-color--error--lighter-1 100%);
        background-color: $status-color--error--lighter-2;
      }

      &.grader-ok {
        color: $status-color--success;
        background-image: linear-gradient($status-color--success--lighter-2 0px, $status-color--success--lighter-1 100%);
        background-color: $status-color--success--lighter-2;
      }

      &.grader-warning {
        color: $status-color--warning;
        background-image: linear-gradient(to bottom,$status-color--warning--lighter-2 0px, $status-color--warning--lighter-1 100%);
        background-color: $status-color--warning--lighter-2;
      }
    }

    & .caret {
      border-top-color: $black;
      border-bottom-color: $black;
    }
  }
}

.navbar-fixed-top {
  .navbar-collapse {
    @include breakpoint(mobile) {
      max-height: 100% !important;

      .navbar-nav {
        margin-left: 5px;
      }
    }
  }
}
