# CODEOWNERS for the used languages

## PHP, Python, and SQL files

*.php @heduenas @pabo99
*.py @heduenas @pabo99
*.sql @heduenas @pabo99

## Vue, TypeScript, JavaScript, HTML, and CSS files

*.vue @carlosabcs @tvanessa
*.ts @carlosabcs
*.js @carlosabcs
*.html @carlosabcs @tvanessa
*.css @carlosabcs

## Lang files

*.lang @tvanessa

## Default owner for everything else

* @heduenas
