{
  "sourceType": "unambiguous",
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "modules": false,
        "useBuiltIns": "entry",
        "targets": {
          "chrome": 100,
          "safari": 15,
          "firefox": 91
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator"
  ]
}