# Ignore objects
*.o

# Ignore temporary files
*~
*.swp
*.swo
*.pyc
.pytest_cache/
.mypy_cache/
.cache
tags
nohup.out
tags

# Ignore classes
*.class

# IDE-related stuff
build.xml
nbproject/
manifest.mf
build/
grader/lib/
.idea/

# Ignore SSL-related stuff
*.jks
*.crt
*.key
*.srl

# ignore frontend config file
/frontend/server/config.php
/frontend/server/api/tests/config.php
/frontend/tests/test_config.php

# and log
yarn-error.log

#ignore crated-by-test stuff
frontend/tests/runfiles/
frontend/tests/ui/results/
.nyc_output/
coverage.xml
coverage/

# Ignore runtime and test stuff
test-env
templates_c
/omegaup/
bin/grader.sh
frontend/www/runner-distrib.sh
geckodriver.log
yarn-error.log
.phpunit.result.cache

# Ignore Mac crap :P
frontend/.DS_Store
.DS_Store

# Ignore stuff in www
frontend/www/apc.php
frontend/www/coverage/
frontend/www/img/
frontend/www/phpminiadmin/
frontend/www/pmamini.php
frontend/www/templates/
frontend/www/probleminput/
frontend/www/tests/index.html

# Ignore sublime sftp config
sftp-config.json

# Ignore GitHub Atom sftp config
.remote-sync.json

# Ignore node modules folder
node_modules/

# Ignore composer files
vendor/

# Ignore psalm cache
/.psalm/

# Ignore JavaScript build files.
frontend/www/js/dist/

# Ignore SASS-CSS build files.
frontend/www/css/dist/

# Ignore media/dist folder
frontend/www/media/dist/

# Ignore C++ / Pascal docs
frontend/www/docs/cpp
frontend/www/docs/pas
frontend/www/docs/java

# Ignore VS Code json
.vscode/*
.save

# Ignore omegaup.db
omegaup.db

# Ignore backend stuff
stuff/docker/go/*/

# Ignore the Python virtual environment
stuff/venv/

# Ignore cypress media
cypress/videos/*
cypress/screenshots/*

# Ignore the generated HTML files
frontend/www/grader/ephemeral/index-light.html
frontend/www/grader/ephemeral/index.html

# Ignore cypress downloads
cypress/downloads/*

# This is a temporary file that is generated by the script
# process_mysql_explain_logs.py and should not be committed to the repository.
# It is used to store the results of the queries that are run
# to check for inefficient queries.
# Once the inefficient queries are fixed, this file should be deleted.
stuff/inefficient_queries.csv


# ignore files que log extension in root 
*.log