# Ignore objects
*.o
karel/lib/x86_64-linux/*
karel/karel
karel/kcl
bin/mysql-connector-java-5.1.29.jar

# Ignore temporary files
*~
*.swp
tags
nohup.out
tags

# Ignore classes
*.class

# Ignore configuration files
*.conf

# NetBeans-related stuff
build.xml
nbproject/
manifest.mf
build/
grader/lib/

# Ignore SSL-related stuff
*.jks
*.crt
*.key
*.pem
*.srl

# SBT-related stuff
target/
lib_managed/
src_managed/
project/target
project/classes

# ignore frontend config file
config.php
frontend/server/config.php
frontend/server/api/tests/config.php
test_config.php

# and log
omegaup.log
frontend/log/omegaup.log

#ignore crated-by-test stuff
frontend/server/api/tests/problems/
frontend/server/api/tests/submissions/
frontend/tests/controllers/img/
frontend/www/img/
frontend/www/templates/
omegaup_test.log

# Ignore runtime and test stuff
test-env
frontend/www/templates_c
/omegaup/
bin/grader.sh
frontend/www/runner-distrib.sh

# Ignore Mac crap :P
frontend/.DS_Store
.DS_Store

# Ignore stuff in www
frontend/www/apc.php
frontend/www/preguntas/
frontend/www/js/google-analytics.js
