# Ignore objects
*.o
sandbox/box
# Ignore classes
*.class
# Ignore properties
*.properties

# Ignore SSL-related stuff
*.jks
*.crt
*.key
*.pem

# SBT-related stuff
target/
lib_managed/
src_managed/
*/project/boot/
