[submodule "frontend/www/js/mathjax"]
	path = frontend/www/js/mathjax
	url = https://github.com/mathjax/MathJax.git
[submodule "frontend/server/libs/log4php"]
	path = frontend/server/libs/log4php
	url = https://github.com/omegaup/logging-log4php.git
[submodule "frontend/server/libs/adodb"]
	path = frontend/server/libs/adodb
	url = https://github.com/ADOdb/ADOdb.git
[submodule "frontend/www/js/pagedown"]
	path = frontend/www/js/pagedown
	url = https://github.com/omegaup/pagedown.git
[submodule "backend"]
	path = backend
	url = https://github.com/omegaup/backend.git
[submodule "libinteractive"]
	path = libinteractive
	url = https://github.com/omegaup/libinteractive.git
[submodule "frontend/server/libs/google-api-php-client"]
	path = frontend/server/libs/google-api-php-client
	url = https://github.com/google/google-api-php-client
[submodule "frontend/www/karel.js"]
	path = frontend/www/karel.js
	url = https://github.com/omegaup/karel.js.git
[submodule "frontend/server/libs/smarty"]
	path = frontend/server/libs/smarty
	url = https://github.com/smarty-php/smarty.git
