{
  "include": [
    "frontend/www/js/**/*.js",
    "frontend/www/js/**/*.ts",
    "frontend/www/js/**/*.vue"
  ],
  "exclude": [
    "frontend/www/js/**/*.test.js",
    "frontend/www/js/omegaup/lang*.ts",
    "frontend/www/js/**/*.test_helper.js",
    "frontend/www/js/omegaup/api.fake.js",
    "frontend/www/third_party/**"
  ]
}
