services:

  frontend:
    build:
      dockerfile: ./Dockerfile.dev-php
      context: ./stuff/docker/
    image: omegaup/dev-php:20231008
    user: "${UID_GID}"
    restart: always
    volumes:
      - type: bind
        source: .
        target: /opt/omegaup
      - type: volume
        source: omegaupdata
        target: /var/lib/omegaup
        volume:
          nocopy: true
    depends_on:
      - mysql
      - gitserver
      - grader
    ports:
      - target: 8001
        published: 8001
        protocol: tcp
        mode: host
    environment:
      CI: "${CI:-false}"
      MYSQL_TCP_PORT: 13306
      OPENAI_API_KEY: ""
      DEEPSEEK_API_KEY: ""
      AI_WORKER_ENABLED: "true"
      REDIS_PASSWORD: "redis"

  gitserver:
    image: omegaup/gitserver:v1.9.13
    entrypoint: ["wait-for-it", "mysql:13306", "--", "/usr/bin/omegaup-gitserver"]
    user: "${UID_GID}"
    restart: always
    depends_on:
      - mysql
    volumes:
      - type: bind
        source: ./stuff/docker/etc/omegaup/gitserver
        target: /etc/omegaup/gitserver
        read_only: true
      - type: volume
        source: omegaupdata
        target: /var/lib/omegaup
        volume:
          nocopy: true
    expose:
      - '33861'
      - '33862'
      - '6060'
    ports:
      - target: 33861
        published: 33861
        protocol: tcp
        mode: host

  broadcaster:
    image: omegaup/backend:v1.9.35
    entrypoint: ["/usr/bin/omegaup-broadcaster"]
    user: "${UID_GID}"
    restart: always
    depends_on:
      - mysql
    volumes:
      - type: bind
        source: ./stuff/docker/etc/omegaup/broadcaster
        target: /etc/omegaup/broadcaster
        read_only: true
    expose:
      - '6060'
      - '32672'
      - '22291'

  grader:
    image: omegaup/backend:v1.9.35
    entrypoint: ["wait-for-it", "mysql:13306", "--", "/usr/bin/omegaup-grader"]
    user: "${UID_GID}"
    restart: always
    depends_on:
      - mysql
      - gitserver
    volumes:
      - type: bind
        source: ./stuff/docker/etc/omegaup/grader
        target: /etc/omegaup/grader
        read_only: true
      - type: volume
        source: omegaupdata
        target: /var/lib/omegaup
        volume:
          nocopy: true
    expose:
      - '6060'
      - '21680'
    ports:
      - target: 21680
        published: 21680
        protocol: tcp
        mode: host

  runner:
    image: omegaup/runner:v1.9.35
    entrypoint: ["wait-for-it", "grader:11302", "--", "/usr/bin/omegaup-runner", "-noop-sandbox"]
    user: "${UID_GID}"
    restart: always
    depends_on:
      - grader
    volumes:
      - type: bind
        source: ./stuff/docker/etc/omegaup/runner
        target: /etc/omegaup/runner
        read_only: true
    expose:
      - '6060'

  mysql:
    image: mysql:8.0.34
    platform: linux/amd64
    restart: always
    environment:
      MYSQL_DATABASE: 'omegaup'
      MYSQL_USER: 'omegaup'
      MYSQL_PASSWORD: 'omegaup'
      MYSQL_ROOT_PASSWORD: 'omegaup'
      MYSQL_TCP_PORT: 13306
    command:
      - --max_execution_time=30000
      - --lock_wait_timeout=10
      - --wait_timeout=20
    expose:
      - '13306'
    volumes:
      - 'dbdata:/var/lib/mysql'
    ports:
      - target: 13306
        published: 13306
        protocol: tcp
        mode: host
    cap_add:
      - SYS_NICE

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: 'omegaup'
      RABBITMQ_DEFAULT_PASS: 'omegaup'
    expose:
      - '5672'
      - '15672'
    volumes:
      - 'rabbitmq:/var/lib/rabbitmq'
    ports:
      - target: 5672
        published: 5672
        protocol: tcp
        mode: host
      - target: 15672
        published: 15672
        protocol: tcp
        mode: host

  redis:
    image: redis
    restart: always
    command: ['redis-server', '/etc/redis/redis.conf']
    expose:
      - '6379'
    volumes:
      - type: volume
        source: redis
        target: /data
      - type: bind
        source: ./stuff/docker/etc/redis/
        target: /etc/redis
        read_only: true
    ports:
      - target: 6379
        published: 6379
        protocol: tcp
        mode: host

volumes:
  dbdata:
  omegaupdata:
  rabbitmq:
  redis:
