version: '3.4'

services:

  frontend:
    build:
      dockerfile: ./Dockerfile.frontend
      context: ./stuff/docker/
      target: frontend
    image: omegaup/frontend:${TAG:-20231008}

  php:
    build:
      dockerfile: ./Dockerfile.frontend
      context: ./stuff/docker/
      target: php
    image: omegaup/php:${TAG:-latest}

  nginx:
    build:
      dockerfile: ./Dockerfile.frontend
      context: ./stuff/docker/
      target: nginx
    image: omegaup/nginx:${TAG:-latest}

  frontend-sidecar:
    build:
      dockerfile: ./Dockerfile.frontend
      context: ./stuff/docker/
      target: frontend-sidecar
    image: omegaup/frontend-sidecar:${TAG:-latest}

  ai-editorial-worker:
    build:
      dockerfile: ./Dockerfile.ai-editorial-worker
      context: ./stuff/docker/
    image: omegaup/ai-editorial-worker:${TAG:-latest}
