apiVersion: apps/v1
kind: Deployment

metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: gitserver
        image: omegaup/gitserver:v1.8.2
        command: ['/usr/bin/omegaup-gitserver']
        ports:
        - name: gitserver
          containerPort: 33861
        - name: pprof
          containerPort: 33682
        - name: prometheus
          containerPort: 6060
        volumeMounts:
        - name: gitserver-secret
          mountPath: /etc/omegaup/gitserver
        - name: omegaup-backend
          mountPath: /var/lib/omegaup
        - name: omegaup-problems
          mountPath: /var/lib/omegaup/problems.git
        - name: varlog
          mountPath: /var/log
      - name: broadcaster
        image: omegaup/backend:v1.6.2
        command: ['/usr/bin/omegaup-broadcaster']
        ports:
        - name: broadcaster
          containerPort: 32672
        - name: events
          containerPort: 22291
        - name: prometheus
          containerPort: 6060
        volumeMounts:
        - name: broadcaster-secret
          mountPath: /etc/omegaup/broadcaster
        - name: omegaup-backend
          mountPath: /var/lib/omegaup
        - name: omegaup-problems
          mountPath: /var/lib/omegaup/problems.git
        - name: varlog
          mountPath: /var/log
      - name: grader
        image: omegaup/backend:v1.6.2
        command: ['/usr/bin/omegaup-grader']
        ports:
        - name: grader
          containerPort: 21680
        - name: ephemeral
          containerPort: 36663
        - name: prometheus
          containerPort: 6060
        volumeMounts:
        - name: grader-secret
          mountPath: /etc/omegaup/grader
        - name: omegaup-backend
          mountPath: /var/lib/omegaup
        - name: varlog
          mountPath: /var/log
      - name: fluentbit
        image: fluent/fluent-bit:1.7
        command: ['/fluent-bit/bin/fluent-bit', '--quiet', '-c', '/fluent-bit/etc/fluent-bit.conf']
        volumeMounts:
        - name: fluentbit-config
          mountPath: /fluent-bit/etc/
        - name: varlog
          mountPath: /var/log
      initContainers:
      - name: init-varlog
        image: busybox:1.28
        command: ['sh', '-c', 'touch /var/log/broadcaster.log /var/log/grader.log /var/log/gitserver.log']
        securityContext:
          runAsUser: 1000
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: varlog
          mountPath: /var/log
      volumes:
      - name: omegaup-backend
        emptyDir: {}
      - name: omegaup-problems
        emptyDir: {}
      - name: varlog
        emptyDir: {}
      - name: fluentbit-config
        configMap:
          name: fluentbit-config
      - name: broadcaster-secret
        secret:
          secretName: broadcaster-secret
      - name: grader-secret
        secret:
          secretName: grader-secret
      - name: runner-secret
        secret:
          secretName: runner-secret
      - name: gitserver-secret
        secret:
          secretName: gitserver-secret
---
apiVersion: v1
kind: Service

metadata:
  name: backend-service
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
  - name: gitserver
    protocol: TCP
    port: 33861
    targetPort: 33861
  - name: grader
    protocol: TCP
    port: 21680
    targetPort: 21680
  - name: ephemeral
    protocol: TCP
    port: 36663
    targetPort: 36663
  - name: broadcaster
    port: 32672
    targetPort: 32672
  - name: events
    port: 22291
    targetPort: 22291
