RewriteEngine on        

# Redirects for UX.
RewriteRule ^/?$ index.php [L]
RewriteRule ^[a-zA-Z0-9_+-]+/scoreboard/?$ scoreboard.php [L]
RewriteRule ^[a-zA-Z0-9_+-]+/admin/?$ admin.php [L]
RewriteRule ^[a-zA-Z0-9_+-]+/?$ contest.php [L]
