<?php




	# ####################################
	# DATABASE CONFIG
	# ####################################	
	define("OMEGAUP_DB_USER", 	"omegaup");
	define("OMEGAUP_DB_PASS", 	"");
	define("OMEGAUP_DB_HOST", 	"localhost");
	define("OMEGAUP_DB_NAME", 	"omegaup");	
	define("OMEGAUP_DB_DRIVER", "mysqlt");
	define("OMEGAUP_DB_DEBUG", 	false);	
	
  define("OMEGAUP_ROOT",  "D:/docs/omegaup/repo/frontend")
	
	
	ini_set('include_path', ini_get('include_path') . PATH_SEPARATOR . OMEGAUP_ROOT . "/server");