<?php


        # ####################################
	# TEST DATABASE CONFIG
	# ####################################	
        # PLEASE DON'T POINT IT TO THE PRODUCTION DB!!!
        define('OMEGAUP_TEST_DB_USER',         'omegaup_beta');
        define('OMEGAUP_TEST_DB_NAME',    'omegaup_beta');
        define('OMEGAUP_TEST_DB_PASS',         'ky)yiIkm_+zMf,>qkRP@j{pflG');
        define('OMEGAUP_TEST_DB_DRIVER',       'mysqlt');
        define('OMEGAUP_TEST_DB_DEBUG',        false);
        define('OMEGAUP_TEST_DB_HOST',         'localhost');



	# ####################################
	# DATABASE CONFIG
	# ####################################	
	define("OMEGAUP_DB_USER", 	"omegaup");
	define("OMEGAUP_DB_PASS", 	"");
	define("OMEGAUP_DB_HOST", 	"localhost");
	define("OMEGAUP_DB_NAME", 	"omegaup");	
	define("OMEGAUP_DB_DRIVER", "mysqlt");
	define("OMEGAUP_DB_DEBUG", 	false);	
	define("OMEGAUP_MD5_SALT", 	"om3gaup");	
	
	define("OMEGAUP_LOG_TO_FILE", 		false);
	define("OMEGAUP_LOG_TRACKBACK", 	false);
	define("OMEGAUP_LOG_DB_QUERYS", 	false);
	define("OMEGAUP_LOG_ACCESS_FILE", 	"/var/log/omegaup/omegaup.log");
	define("OMEGAUP_LOG_ERROR_FILE", 	"/var/log/omegaup/omegaup.log");

	# ####################################
	# GRADER CONFIG
	# ####################################
	define('OMEGAUP_GRADER_URL',      'https://localhost:21680/grade/');
	define('OMEGAUP_SSLCERT_URL',     '/opt/omegaup/frontend/omegaup.pem');
	define('OMEGAUP_CACERT_URL',      '/opt/omegaup/frontend/omegaup.pem');
	define('RUNS_PATH',               '/opt/omegaup/omegaup/submissions');
	define('PROBLEMS_PATH',           '/opt/omegaup/omegaup/problems');


	# ####################################
	# FACEBOOK LOGIN CONFIG
	# ####################################
	define("OMEGAUP_FB_APPID", 			"xxxxx");
	define("OMEGAUP_FB_SECRET",			"xxxxx");


	# ####################################
	# EMAIL CONFIG
	# ####################################
	define("OMEGAUP_EMAIL_SEND_EMAILS", 		false);
	define("OMEGAUP_EMAIL_SMTP_HOST", 			"smtp.gmail.com");
	define("OMEGAUP_EMAIL_SMTP_USER", 			"no-reply@omegaup.com");
	define("OMEGAUP_EMAIL_SMTP_PASSWORD", 		"");
	define("OMEGAUP_EMAIL_SMTP_PORT", 			"587");
	define("OMEGAUP_EMAIL_SMTP_FROM", 			"no-reply@omegaup.com");


	# ####################################
	# MEMCACHE CONFIG
	# ####################################	
	define("OMEGAUP_MEMCACHE_DISABLED",				true);	
	define("OMEGAUP_MEMCACHE_HOST",					'localhost');
	define("OMEGAUP_MEMCACHE_PORT", 				11211);
	define("OMEGAUP_MEMCACHE_SCOREBOARD_TIMEOUT",	60);	// in seconds
	define("OMEGAUP_MEMCACHE_CONTEST_TIMEOUT",		30);	// in seconds	