<phpunit 
    backupGlobals="false"
    bootstrap="bootstrap.php"
    backupStaticAttributes="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    syntaxCheck="false"
>  
</phpunit>