RewriteEngine on
#RewriteBase /pos/__instance__/api/

Options +FollowSymlinks

RewriteRule ^explorer/?(.*)$     ApiLoader.php?_explorer_=1&_api_=$1&%{QUERY_STRING} [L]
RewriteRule ^/?(.*)$              ApiLoader.php?_api_=$1&%{QUERY_STRING} [L]

#RewriteRule ^(.*)$  ApiLoader.php?_api_=$1&%{QUERY_STRING} [L]

