// BASE - Base Variable file along with starting point Mixins and Placeholders
@import 'base/_variables.scss';
@import 'base/colors';
@import 'base/sizes.scss';
@import 'base/_common.scss';

// COMPONENTS - Reusable site elements
@import 'components/_markdown';
@import 'components/_buttons.scss';
@import 'components/_navbar.scss'; // added

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

