// BASE - Base Variable file along with starting point Mixins and Placeholders
@import 'base/_variables.scss';
@import 'base/_common.scss';

@import 'base/sizes.scss';
@import 'base/colors';

// COMPONENTS - Re-usable site elements
@import 'components/_header.scss';
@import 'components/_buttons.scss';
