body#practice { background: #668 url(/media/gradient.png) repeat-x 0 0; font-family: sans-serif; overflow-y: scroll; }
body { background: url(/media/gradient.png) repeat-x 0 0, url(/media/bg.png) repeat 0 0; font-family: sans-serif; overflow-y: scroll; }

h1 {
	margin: 1em auto 1em auto;
	font-size: 1.5em;
}
h2 {
	margin: 2em auto 1em auto;
}
p {
	margin: 0.1em auto 0.5em auto;
}
abbr {
	border-bottom: 1px dotted #000;
}
iframe {
	width: 100%;
	min-height: 40em;
}
fieldset {
	border: 1px solid #000;
	border-radius: 4px;
	margin: 1em;
	padding: 0.5em;
}
legend {
	margin: 0 0.2em 0 0.2em;
}

.template { display: none; }

div#login_bar{
	font-size: 13px;
	background-color: #678DD7;
	border-bottom: solid 1px #E7E7E7;
	color: white;

	height: 25px;
	padding-left: 120px;
	padding-top: 5px ;
	padding-right: 20px; 
}

div#login_bar a {
    color: white;
    text-decoration: none;
}

div#login_bar a:hover {
    text-decoration: underline;
}

#root,
#problem,
#ranking,
#clarifications {
	display: none
}

#problems.active { display: block; }

#title img {
	position: absolute;
	right: 1em;
	top: 2em;
}

#title h1 {
	text-align: center;
	font-size: 2em;
	margin: 0.5em;
}

#title .clock {
	text-align: center;
	font-size: 2em;
}

.tabs {
	padding-left: 0.5em;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	display: block;
	text-align: center;
	background-color: white;
	margin: 0.5em 0 0 0;
}

.tabs li {
	display: inline;
}

.tabs a {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #000;
}

.tabs a:hover {
	background-color: #fff;
}

.tabs a.active {
	background-color: #ddd;
}

.navleft {
	overflow: hidden;
}

.navleft .navbar {
	width: 18em;
	float: left;
}

.navleft .main {
	margin-left: 19em;
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;
}

.tab {
	padding: 1em;
}

#problem-list > div {
	width: 19em;
	margin-bottom: 0.5em;
	background: #ddd;
	border: solid 1px #ccc;
	border-width: 1px 0 1px 1px;
	position: relative;
}

#problem-list > div a {
	color: #5588DD;
	display: block;
	padding: 0.5em;
	width: 100%;
}

#problem-list > div.active {
	background: white;
}

#problem-list > div.summary {
	margin-bottom: 1em;
}

#problem-list > div .solved {
	position: absolute;
	top: 0.5em;
	right: 1em;
}

#problems #mini-ranking {
	width: 18em;
	margin-top: 2em;
}

#problems #mini-ranking td {
	border: 1px solid #000;
	padding: 0.2em;
}

#problems #mini-ranking th {
	padding: 0.2em;
}

#problems #mini-ranking .position,
#problems #mini-ranking .points,
#problems #mini-ranking .penalty {
	text-align: center;
}

#problems #mini-ranking .user,
#problems #mini-ranking .user span {
	width: 10em;
	max-width: 10em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#problems #mini-ranking .user span {
	display: block;
}

#problem, #summary {
	background: #fff;
	padding: 1em;
	margin-top: -1.5em;
	margin-right: -1em;
}

#summary {
	min-height: 10em;
}

#summary td {
	border: 1px solid #000;
	padding: 0.2em;
}

#problem .title {
	text-align: center;
	font-size: 1.5em;
	margin: 1em;
}

#problem .data {
	width: 30em;
	margin: 10px auto;
}

#problem .data td {
	border: 1px solid #000;
	padding: 2px;
}

#problem .statement {
	max-width: 50em;
}

#problem .statement h1 {
	font-size: 1.2em;
	margin: 1.0em 0 0.5em 0;
}
#problem .statement p {
	line-height: 150%;
}

#problem .statement ul {
	list-style: disc;
}

#problem .statement ul li {
	margin-left: 2em;
}

#problem .statement table.sample_io {
	border: 1px solid #000;
	background: #eee;
	margin: 5px;
	padding : 5px;
}
#problem .statement .sample_io td {
	background: #eee;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #000;
}

#problem .statement iframe {
	width: 100%;
	height: 400px;
}

#problem hr {
	width: 90%;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em auto;
}

#problem .source {
	font-style: italic;
}

.runs {
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 2em;
}

.runs caption {
	font-weight: bold;
	font-size: 1.em;
	margin-bottom: 1em;
}

.runs td,
.runs th {
	border: 1px solid #ccc;
	border-width: 1px 0;
	text-align: center;
}

.runs tfoot td a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: #000;
	background: #ccc;
	text-align: center;
}
.runs tfoot td a:hover {
	background: #fff;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	padding-top: 25%;
}
#overlay form {
	background: #eee;
	width: 800px;
	height: 28em;
	margin: -15em auto 0 auto;
	border: 2px solid #ccc;
	padding: 1em;
	position: relative;
	overflow: auto;
}

#overlay form textarea {
	width: 790px;
	height: 26em;
	margin: 0.5em 0;
}

#overlay form .close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;
	font-size: 110%;
	width: 25px;
	height: 25px;
}

#overlay form .close:hover {
	background-color: #eee;
}

#overlay input[type=submit] {
	font-size: 110%;
	padding: 0.3em 0.5em;
}

.compile_error {
	margin-top: 1em;
	border-top: 1px dotted black;
	padding-top: 1em;
}

#ranking table, table.clarifications {
	width: 100%;
	margin: 0 auto;
}

#ranking td {
	text-align: center;
	border: 1px solid #000;
	padding: 0.2em;
}

#ranking th {
	padding: 0.2em;
}

#ranking td[class$='points'], #ranking td[class$='penalty'], #ranking td.position #ranking td.legend {
	width: 2.5em;
}

#ranking td[class$='points'], #problems #mini-ranking td.points {
	border-right-style: dotted;
	font-weight: bold;
}

#ranking td[class$='penalty'], #problems #mini-ranking td.penalty {
	border-left-width: 0;
}

#ranking a {
	color: #5588DD;
}

.clarifications tbody td {
	border: 1px solid #000;
	padding: 0.2em;
}

.clarifications tfoot td a {
	display: block;
	padding: 0.5em;
	border: 1px solid #000;
	text-decoration: none;
	color: #000;
	background: #ccc;
	text-align: center;
}

.clarifications .problem {
	width: 7em;
}

.clarifications .time {
	width: 10em;
}

table.contest-list {
	border: 1px solid #000;
	width: 100%;
}

table.contest-list td, table.contest-list th {
	border: 1px #ccc solid;
	padding: .2em;
}
table.contest-list th {
	font-weight: bold;
}

table.contest-list tbody tr:nth-child(odd) {
	background-color: #E3E8EC;
}

table.contest-list tbody tr:nth-child(even) {
	background-color: #fff;
}

table.contest-list th#past-contests-header {
	padding: 0.5em 0;
}

#title {
	min-height: 80px;
}

#title h1#arena-title {
	/*margin-top: 2em;*/
	font-size: 3em;
}
