body { background: #eee; font-family: sans-serif; overflow-y: scroll; }

.template { display: none; }

#root,
#problem,
#ranking,
#clarifications {
       display: none
}

#problems.active { display: block; }

#title img {
	position: absolute;
	right: 1em;
	top: 1em;
}

#title h1 {
	text-align: center;
	font-size: 2em;
	margin: 0.5em;
}

#title .clock {
	text-align: center;
	font-size: 2em;
}

.tabs {
	padding-left: 0.5em;
	border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        display: block;
        text-align: center;
        background-color: white;
        margin: 0.5em 0;
}

.tabs li {
    display: inline;
}

.tabs a {
	display: inline-block;
	padding: 0.5em 1em;
        text-decoration: none;
        color: #000;
}

.tabs a:hover {
	background-color: #fff;
}

.tabs a.active {
	background-color: #ddd;
}

.navleft {
}

.navleft .navbar {
	width: 18em;
	float: left;
}

.navleft .main {
	margin-left: 19em;
	border: 1px solid #ccc;
	border-width: 0 0 1px 1px;
}

.tab {
    padding: 1em;
}

#problem-list > div {
		width: 19em;
        margin-bottom: 0.5em;
        background: #ddd;
        border: solid 1px #ccc;
		border-width: 1px 0 1px 1px;
		position: relative;
}

#problem-list > div a {
        color: #5588DD;
		display: block;
		padding: 0.5em;
		width: 100%;
}

#problem-list > div.active {
        background: white;
}

#problem-list > div.summary {
		margin-bottom: 1em;
}

#problem-list > div .solved {
	position: absolute;
	top: 0.5em;
	right: 1em;
}

#problems #mini-ranking {
	width: 100%;
	margin-top: 2em;
}

#problems #mini-ranking td {
	border: 1px solid #000;
	padding: 0.2em;
}

#problems #mini-ranking th {
	padding: 0.2em;
}

#problems #mini-ranking .position,
#problems #mini-ranking .points,
#problems #mini-ranking .penalty {
	text-align: center;
}

#problems #mini-ranking .user {
	max-width: 7em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#problem, #summary {
	background: #fff;
	padding: 1em;
        margin-top: -1.5em;
        margin-right: -1em;
}

#summary {
	min-height: 10em;
}

#problem .title {
	text-align: center;
	font-size: 1.5em;
	margin: 1em;
}

#problem .data {
	width: 30em;
	margin: 10px auto;
}

#problem .data td {
	border: 1px solid #000;
	padding: 2px;
}

#problem .statement h1 {
	font-size: 1.2em;
	margin: 1.0em 0 0.5em 0;
}

#problem hr {
	width: 90%;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em auto;
}

#problem .source {
	font-style: italic;
}

#problem .runs {
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 2em;
}

#problem .runs caption {
	font-weight: bold;
	font-size: 1.em;
	margin-bottom: 1em;
}

#problem .runs td,
#problem .runs th {
	border: 1px solid #ccc;
	border-width: 1px 0;
	text-align: center;
}

#problem .runs tfoot td a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: #000;
	background: #ccc;
	text-align: center;
}
#problem .runs tfoot td a:hover {
	background: #fff;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	padding-top: 25%;
}
#overlay form {
	background: #eee;
	width: 800px;
	height: 28em;
	margin: -15em auto 0 auto;
	border: 2px solid #ccc;
	padding: 1em;
        position: relative;
}

#overlay form textarea {
	width: 790px;
	height: 26em;
        margin: 0.5em 0;
}

#overlay form #close {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-width: 0 0 1px 1px;
        font-size: 110%;
        width: 25px;
        height: 25px;
}

#overlay form #close:hover {
        background-color: #eee;
}

#overlay input[type=submit] {
        font-size: 110%;
        padding: 0.3em 0.5em;
}

#ranking table {
	width: 100%;
	margin: 0 auto;
}

#ranking td {
	text-align: center;
	border: 1px solid #000;
	padding: 0.2em;
}

#ranking th {
	padding: 0.2em;
}

#ranking td[class$='points'], #ranking td[class$='penalty'], #ranking td.position {
	width: 2.5em;
}

#ranking td[class$='points'], #problems #mini-ranking td.points {
	border-right-style: dotted;
}

#ranking td[class$='penalty'], #problems #mini-ranking td.penalty {
	border-left-width: 0;
}

#ranking a {
	color: #5588DD;
}
