[submodule "lib/CodeMirror"]
	path = lib/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "lib/Split.js"]
	path = lib/Split.js
	url = https://github.com/nathancahill/Split.js.git
