body {
  padding-top: 51px; /* Espacio para el navbar */
}

/* Clase para quitar el padding de algn contenedor o div tag */
.no-padding {
  padding: 0;
}
/* Clase para quitar el margin de algn contenedor o div tag */
.no-margin {
  margin: 0;
}
/* Estilos de uso general */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * Ahora el navbar está fijo hasta arriba y eso oculta los targets de
 * navegación. Si agregamos un elemento invisible del alto del navbar, todo
 * cuadra de nuevo.
 */
:target::before {
  content: '';
  display: block;
  height: 51px;
  margin: -51px 0 0;
}
