html { height: 100%; }

body {
	height: 100%;
	margin: 0;
	/*font: 13px "lucida grande",tahoma,verdana,arial,sans-serif;*/
	background: #e4e8ec linear-gradient(to top, #e4e8ec, #f3f6f9) fixed no-repeat;
	-webkit-font-smoothing: antialiased;
}

strong {
	font-weight: bold;
}

em { font-style: italic }

div#title {
    height: 151px;
	padding-top: 13px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.openid_large_btn {
    width: 100px;
    height: 60px;
    border: 2px solid #DDD;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    margin: 3px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 4px #DDD;
    -moz-box-shadow: 2px 2px 4px #ddd;
    -webkit-box-shadow: 2px 2px 4px #DDD;
}

#status {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}


div.post {
    background: #fff /*url(../media/line.png)*/; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 20px;
}

a {
    color: #8bb0d3;
    text-decoration: none;
    -webkit-transition: color 0.1s ease;
}
a:hover { color: #666 }
/* 27 for baseline */

h1{
    margin-top: 10px;
    padding: 0px 5px 0;
    font-size: 26px;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
}

div.title {
    padding: 37px 50px 0;
    font-size: 26px;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
}
div.title a { color: #555 }
div.title a:hover { color: #8bb0d3 }
div.copy { padding: 16px; }
div.copy h3 {
font-size: 20px;
line-height: 0px;
font-weight: normal;
background-color: #678DD7;
padding: 15px;
margin-left: -10px;
margin-top: -10px;
color: white;
border-radius: 3px;
}
div.copy p {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 18px;
    color: #888;
}
div.copy img {
    background: #fff;
    padding: 10px;
    zborder: 1px solid #eee;
    margin: 15px 0 20px -10px;
    -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    /*-webkit-transform: rotate(1deg);*/
}
div.copy code {
    font-family: monospace;
    font-size: 11px;
}
div.copy pre code {
    display: block;
    margin: 0 -50px 18px;
    padding: 28px 50px;
    background: #fcfcf5;
    border-top: 1px solid #f3f3e3;
    border-bottom: 1px solid #f3f3e3;
    color: #777;
}
div.copy.error { 
	padding: 16px; 
	background-color: #ffffff;
}
div.copy.button { 
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-linear-gradient(top, rgb(0, 192, 9) 0px, rgb(5, 122, 1) 100%);
	
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(2, 107, 0);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(2, 107, 0);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(2, 107, 0);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(2, 107, 0);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	
	display: block;
	line-height: 1.25;
	padding: 7px 20px 7px;
	border: 1px solid;
	border-color: #026b00;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.75),inset 0 -1px 1px rgba(255,255,255,.3);	
	font-size: 1.13em;
	color: #fff;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	
	height: 22px;
	line-height: 22px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 7px;
	text-align: center;
	text-shadow: rgb(5, 116, 0) 1px 1px 2px;
	width: 302px;
	
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 10px;	
}
/* Hide stuff */
div#sidebar { display: none }

.error{
	background: #FFEBE8;
	border: 1px solid #DD3C10;
	line-height: 15px;
	margin: 10px 0 0 0;
	text-align: center;
	height: 0;
	overflow: hidden;
}

#wmd-panel {
	width: 440px;
}
#wmd-input {
	height: 800px;
	background-color: #fff;
	font-family: monospace;
}
#wmd-preview {
	float: right;
	width: 420px;
	border: 1px solid #eee;
	margin-top: 35px;
	padding: 15px;
}
table.sample_io {
	border: 1px solid #000;
	background: #eee;
}
.sample_io td {
	background: #eee;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #000;
}
table.merged-scoreboard td {
	vertical-align: middle;
}
table.merged-scoreboard tr:nth-child(even) {
	background: #eee;
}
table.merged-scoreboard td div.username {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.merged-scoreboard td div.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: smaller;
	color: #888;
}
td.numeric {
	text-align: right;
}

.new_contest button, .new_contest input[type=button] {
    padding: 3px;
}

.new_contest table.problems {
    border: 1px solid #000;
}

.new_contest table.problems tr.template {
    display: none;
}

.new_contest table.problems td, .new_contest table.problems th {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: middle;
}

.new_contest table.problems th {
    font-weight: bold;
}

.new_contest table.problems th, .new_contest table.problems tfoot td {
    text-align: center;
}

.new_contest #submit-wrapper {
    text-align: right;
}

.new_contest p {
    color: gray !important;
    font-size: 10px !important;
}

.new_contest .info {
    text-align:right
}

.new_contest #main td {
    width: 25%;
    vertical-align:top;
}

input[type=submit],
input[type=button],
.POS.Boton,
.Boton {
	-webkit-user-select: none;
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-bottom-color: rgba(0, 0, 0, 0.0976562);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(0, 0, 0, 0.0976562);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.0976562);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.0976562);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #444;
	cursor: default;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 16px;
	margin-top: 0px;
	min-width: 54px;
	outline-color: #444;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	position: relative;
	text-align: center;
}

input[type=submit].OK,
input[type=button].OK,
.POS.Boton.OK,
.Boton.OK {
    border: 1px solid #29691D;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #3D9400;
}


input[type=submit].BAD,
input[type=button].BAD,
.POS.Boton.BAD,
.Boton.BAD {
    border: 1px solid red;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #3D9400;
}


input[type=submit]:hover,
input[type=button]:hover,
.POS.Boton:hover,
.Boton:hover {
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #C6C6C6;
    color: #333;
}

.openid_large_btn {
    width: 100px;
    height: 60px;
    border: 2px solid #DDD;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    margin: 3px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 4px #DDD;
    -moz-box-shadow: 2px 2px 4px #ddd;
    -webkit-box-shadow: 2px 2px 4px #DDD;
}

.clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
.fbSettingsList .fbSettingsListItemLabel {
color: #333;
float: left;
width: 165px;
}

.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit {
color: #3B5998;
float: right;
padding-left: 25px;
padding-right: 5px;
text-align: right;
}

._4ks > li {
border-color: #E9E9E9;
border-style: solid;
border-width: 0 0 1px 0;
}

.uiListItem {
display: block;
}

.fcg {
color: gray;
}
.clearfix {
zoom: 1;
}

.uiIconText {
display: inline-block;
padding-left: 21px;
position: relative;
}

.fbSettingsList .fbSettingsListItemEdit {
color: #3B5998;
float: right;
padding-left: 25px;
padding-right: 5px;
text-align: right;
}

#facebook .hidden_elem {
display: none !important;
}

.fbSettingsList .fbSettingsListItemSaved {
color: #777;
}

.clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
._4kg._6-h > li:first-child {
padding-top: 0;
}

.uiListItem:first-child {
border-width: 0;
}
.fbSettingsList a.fbSettingsListLink {
background: transparent;
display: block;
text-decoration: none;
}



.pvm {
padding-top: 10px;
padding-bottom: 10px;
}
.phs {
padding-left: 5px;
padding-right: 5px;
}

#content { width: 900px; margin-left: auto; margin-right: auto; }
#content > .navbar { border-radius: 4px; }
#inner-content { margin-left: 0; margin-right: 0; }

#userbox { padding: 0 10px 0 0; }
#userbox-inner { text-align: center;}
#userbox-inner > div { margin-bottom: 15px;}

.post { padding-left: 15px; padding-right: 15px; padding-bottom: 5px; margin-bottom: 15px; }

#content { margin-top: 15px; }

#login-page > row { margin: 0; }
#login-page form { padding-top: 10px; padding-bottom: 10px; }
#login-page > h3 { border-color: #E9E9E9; border-style: solid; border-width: 0 0 1px 0; font-size: 20px; padding-bottom: 5px; }

#footer { color:black; margin: 10px auto 20px auto; max-height:50px; }
#footer .logo { width: 60px; padding:0px; margin:0px; -webkit-box-shadow:0px 0px; }
#footer .navbar-brand { font-size: 14px; }
#footer .navbar-nav a {  }

.bottom-margin { margin-bottom: 15px; }
.no-bottom-margin { margin-bottom: 0; }
.no-right-padding { padding-right: 0; }

#problem .statement p { text-align: justify; }
#problem .statement li { text-align: justify; }
#problem .statement h1 { font-weight: bold; }

#problem_form .languages {
	padding: 0;
	width: 100%;
}