body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}




body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}

html {
	font: 13px "lucida grande",tahoma,verdana,arial,sans-serif;
	background: #e4e8ec url(../media/background.png);
}

strong {
	font-weight: bold;
}

em { font-style: italic }

div#title {
    height: 151px;
	padding-top: 13px;
    background: #eceff1 url(../media/header-background.png);
}

.openid_large_btn {
    width: 100px;
    height: 60px;
    border: 2px solid #DDD;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    margin: 3px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 4px #DDD;
    -moz-box-shadow: 2px 2px 4px #ddd;
    -webkit-box-shadow: 2px 2px 4px #DDD;
}



div.post {
	width: 900px;
    nowhitespace: afterproperty;
    margin: 0 auto 10px auto;
    background: #fff /*url(../media/line.png)*/; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: -31px;
}

div.post a {
    color: #8bb0d3;
    text-decoration: none;
    -webkit-transition: color 0.1s ease;
}
div.post a:hover { color: #666 }
/* 27 for baseline */

div.rss_element:first-child div.title {
	margin-top: 0;
}
div.rss_element div.title { 
	font-size: 12pt;
	margin: 0.5em 0 0.25em 0;
	padding: 0;
}
div.rss_element div.date {
	margin: 0 0 0.1em 0;
	padding: 0 !important;
}
div.rss_element div.body {
	padding-left: 1em;
}

h1{
    margin-top: 10px;
    padding: 0px 5px 0;
    font-size: 26px;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
}

h2{
    margin-top: 10px;
     padding: 0px 5px 0;
    font-size: 20px;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;   
}

div.title {
    padding: 37px 50px 0;
    font-size: 26px;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
}
div.title a { color: #555 }
div.title a:hover { color: #8bb0d3 }
div.copy { padding: 16px; }
div.copy h3 {
font-size: 20px;
line-height: 0px;
font-weight: normal;
background-color: #678DD7;
padding: 15px;
margin-left: -10px;
margin-top: -10px;
color: white;
border-radius: 3px;
}
div.copy p {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 18px;
    color: #888;
}
div.copy ul {
    font-size: 13px;
    padding-bottom: 18px;
    color: #888;
}
div.copy li {
    line-height: 18px;
    list-style-type: disc;
    margin-left: 20px;
}
div.copy img {
    background: #fff;
    padding: 10px;
    zborder: 1px solid #eee;
    margin: 15px 0 20px -10px;
    -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    /*-webkit-transform: rotate(1deg);*/
}
div.copy code {
    font-family: monospace;
    font-size: 11px;
}
div.copy pre code {
    display: block;
    margin: 0 -50px 18px;
    padding: 28px 50px;
    background: #fcfcf5;
    border-top: 1px solid #f3f3e3;
    border-bottom: 1px solid #f3f3e3;
    color: #777;
}
div.footer {
    font-size: 13px;
}
div.footer div.date { padding: 1px 50px 45px }
div.footer div.notes { display: none }
div.post.footer {
	background: #f3f6f9;
	font-size: 12px;
	-webkit-text-stroke: 1px transparent;
	padding-bottom: 0px; 
}
div.post.footer a {
    color: #7497af;
    text-decoration: none;
    -webkit-transition: color 0.1s ease;
}
div.post.footer a:hover { color: #4f758f }
div.post.footer ul { padding: 19px 0 19px 15px }
div.post.footer li {
    display: inline;
    padding-left: 12px;
    margin-right: 12px;
    border-left: 1px solid #eef0f1;
}
div.post.footer li.first {
    padding-left: 0;
    border: 0;
}
div.post.footer p {
    position: absolute;
    right: 0;
    top: 0;
    padding: 19px 15px 0 0;
}
div.post.footer p a { color: #bbc6ce }
div.post.footer p a:hover { color: #7497af }
/* Hide stuff */
div#sidebar { display: none }


div.login_bar{
	font-size: 13px;
	background-color: #678DD7;
	border-bottom: solid 1px #E7E7E7;
	color: white;

	height: 25px;
	padding-left: 120px;
	padding-top: 5px ;
	padding-right: 20px; 
	display: none;
}




div.login_bar a {
    color: white;
    text-decoration: none;
}

div.login_bar a:hover {
    text-decoration: underline;
}

.error{
	background: #FFEBE8;
	border: 1px solid #DD3C10;
	line-height: 15px;
	margin: 10px 0 0 0;
	text-align: center;
	height: 0;
	overflow: hidden;
}

table{
	margin: 5px;
	padding : 5px;
}

td{
	padding: 5px;
}

tr{
	vertical-align: top
}

#markdownSource {
	width: 370px;
	height: 800px;
}
#markdownPreview {
	float: right;
	width: 370px;
	border: 1px solid #eee;
	margin-top: 10px;
}
table.sample_io {
	border: 1px solid #000;
	background: #eee;
}
.sample_io td {
	background: #eee;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #000;
}

.new_contest button, .new_contest input[type=button] {
    padding: 3px;
}

.new_contest table.problems {
    border: 1px solid #000;
}

.new_contest table.problems tr.template {
    display: none;
}

.new_contest table.problems td, .new_contest table.problems th {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: middle;
}

.new_contest table.problems th {
    font-weight: bold;
}

.new_contest table.problems th, .new_contest table.problems tfoot td {
    text-align: center;
}

.new_contest #submit-wrapper {
    text-align: right;
}

.new_contest p {
    color: gray !important;
    font-size: 10px !important;
}

.new_contest .info {
    text-align:right
}

.new_contest #main td {
    width: 25%;
    vertical-align:top;
}

.ui-autocomplete {
    position: absolute; cursor: default; 
}

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
	border: 1px solid black;
	background-color: white;
	color: black;
}

.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}

.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	background-color: #678DD7;
	color: white;
}



input[type=submit],
input[type=button],
.POS.Boton,
.Boton {
	-webkit-user-select: none;
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-bottom-color: rgba(0, 0, 0, 0.0976562);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgba(0, 0, 0, 0.0976562);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgba(0, 0, 0, 0.0976562);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgba(0, 0, 0, 0.0976562);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #444;
	cursor: default;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 16px;
	margin-top: 0px;
	min-width: 54px;
	outline-color: #444;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	position: relative;
	text-align: center;
}

input[type=submit].OK,
input[type=button].OK,
.POS.Boton.OK,
.Boton.OK {
    border: 1px solid #29691D;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #3D9400;
}


input[type=submit].BAD,
input[type=button].BAD,
.POS.Boton.BAD,
.Boton.BAD {
    border: 1px solid red;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #3D9400;
}


input[type=submit]:hover,
input[type=button]:hover,
.POS.Boton:hover,
.Boton:hover {
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #C6C6C6;
    color: #333;
}

.openid_large_btn {
    width: 100px;
    height: 60px;
    border: 2px solid #DDD;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    margin: 3px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 4px #DDD;
    -moz-box-shadow: 2px 2px 4px #ddd;
    -webkit-box-shadow: 2px 2px 4px #DDD;
}




.fbSettingsList {

border-top: 1px solid #AAA;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}

ul {
list-style-type: none;
}

.fbSettingsList .fbSettingsListItemLabel {
color: #333;
float: left;
width: 165px;
}

.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit {
color: #3B5998;
float: right;
padding-left: 25px;
padding-right: 5px;
text-align: right;
}

._4ks > li {
border-color: #E9E9E9;
border-style: solid;
border-width: 1px 0 0 0;
}

.uiListItem {
display: block;
}

.fcg {
color: gray;
}
.clearfix {
zoom: 1;
}

.uiIconText {
display: inline-block;
padding-left: 21px;
position: relative;
}

.fbSettingsList .fbSettingsListItemEdit {
color: #3B5998;
float: right;
padding-left: 25px;
padding-right: 5px;
text-align: right;
}

#facebook .hidden_elem {
display: none !important;
}

.fbSettingsList .fbSettingsListItemSaved {
color: #777;
}

.clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
._4kg._6-h > li:first-child {
padding-top: 0;
}

.uiListItem:first-child {
border-width: 0;
}
.fbSettingsList a.fbSettingsListLink {
background: transparent;
display: block;
text-decoration: none;
}



.pvm {
padding-top: 10px;
padding-bottom: 10px;
}
.phs {
padding-left: 5px;
padding-right: 5px;
}




ul {
list-style-type: none;
}   
