$omegaup-dark-grey: #353a40;
$omegaup-green: #35b835;
$omegaup-grey: #4b4b4b;
$omegaup-white: #ffffff;
$omegaup-black: #000000;
$omegaup-blue: #5588dd;
$omegaup-pink: #dd5588;
$omegaup-pink--lighter: #ff8888;
$omegaup-grey--lighter: #bbbbbb;
$omegaup-primary--darker: #466aaf;
$omegaup-primary--darkest: #3F63AA;
$omegaup-primary--accent: #0275d8;
$omegaup-links: #8bb0d3;
$omegaup-links--hover: #666666;

// OTHER COLORS
$whisper: #eeeeee;
$white-smoke-2: #f5f5f5;
$night-rider: #333333;
$very-light-grey: #cccccc;
$dim-gray: #666666;
$comet: #666688;
$alice-blue: #ebeff2;
$dark-gray: #aaaaaa;
$dark-red: #880000;
$green: #008800;
$gainsboro: #dddddd;
$cyan-blue-shade: #5588dd;
$nobel: #9a9a9a;
$seal-brown: #440000;
$grey: #808080;
$tara: #ddffdd;
$quartz: #ddddff;
$misty-rose: #ffdddd;
$screamin-green: #88ff88;
$curious-blue: #337ab7;
$chestnut: #b94a48;
$killarney: #468847;
$twine: #c09853;
$drover: #f5e79e;
$corn-silk: #fcf8e3;
$corn-field: #f8efc0;
$white-smoke: #f2f2f2;
$cornflower-blue: #678dd7;
$havelock-blue: #5f87d4;
$havelock-blue-2: #577dc7;
$medium-purple: #8855dd;
$scooter: #1b809e;
$mindaro: #ccff66;
$orange-peel: #ff9900;
$red: #ff0000;
$nero: #222222;
$light-grey: #d4d4d4;

// HISTOGRAM
$cornflower-blue-2: #4fa2eb;
$onahau: #c2ddeb;
$porcelain: #dddcdb;
$apricot: #faccb4;
$amaranth: #df3e4b;

// USER RANK
$suva-grey: #919191;
$glade-green: #598c4c;
$cerulean-blue: #1c52c7;
$cream-can: #f0c245;
$venetian-red: #cb000a;
