$omegaup-white: white;
$omegaup-blue: #5588dd;
$omegaup-pink: #dd5588;
$omegaup-primary--darker: #466aaf;
$omegaup-primary--darkest: #3F63AA;
$omegaup-primary--accent: #0275d8;
$omegaup-links: #8bb0d3;
$omegaup-links--hover: #666;