// Paleta de Colores oficial de Omegaup
// ref: https://github.com/omegaup/media#paleta-de-colores

// brand colors
$blue-lighter-2: #D0DEF5;
$blue-lighter-1: #739DE3;
$blue: #5588DD;
$blue-darker-1: #4670B5;

// header colors
$header-color--primary: #678DD7;
$header-color--hover: #577DC7;
$header-color--active: #5F87D4;

$green: #88DD55;

$tangerine: #FF8888;

$black: #000000;
$black-lighter-1: #333333;
$black-lighter-2: #555555;
$gray: #888888;
$gray-lighter-1: #BBBBBB;
$gray-lighter-2: #DDDDDD;

$white: #FFFFFF;

$yellow: #FFDD00;
$orange: #FFBB00;

$pink: #E3739D;
$pink-darker-1: #DD5588;

$purple: #8855DD;

// status colors
$status-color--success: #468847;
$status-color--success--lighter-1: #C8E5BC;
$status-color--success--lighter-2: #DFF0D8;
$status-color--warning: #C09853;
$status-color--warning--lighter-1: #F8EFC0;
$status-color--warning--lighter-2: #FCF8E3;
$status-color--error: #B94A48;
$status-color--error--lighter-1: #E7C3C3;
$status-color--error--lighter-2: #F2DEDE;
