$omegaup-dark-grey: #353a40;
$omegaup-green: #35b835;
$omegaup-grey: #4b4b4b;
$omegaup-white: white;
$omegaup-blue: #58d;
$omegaup-pink: #d58;
$omegaup-yellow: #fd0;
$omegaup-pink--lighter: #f88;
$omegaup-grey--lighter: #bbb;
$omegaup-primary--darker: #466aaf;
$omegaup-primary--darkest: #3f63aa;
$omegaup-primary--accent: #0275d8;
$omegaup-links: #8bb0d3;
$omegaup-links--hover: #666;
