$breakpoint-xs     : 0;
$breakpoint-sm     : 767px;
$breakpoint-md     : 768px;
$breakpoint-lg     : 992px;
$breakpoint-xl     : 1024px;

@mixin phone {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}