$omegaup-unit-size: 8px;
$omegaup-unit-1: 8px;
$omegaup-unit-2: 16px;
$omegaup-unit-3: 24px;
$omegaup-unit-4: 32px;
$omegaup-unit-5: 40px;
$omegaup-unit-6: 48px;
$omegaup-unit-7: 56px;
$omegaup-unit-8: 64px;
$omegaup-unit-9: 72px;
$omegaup-unit-10: 80px;
