@import './_colors.scss';
// Variables are one of the more straightforward features of Sass but are still on occasion
// used incorrectly. Creating a site-wide naming convention is essential when working with Variables.
// Without one, they become harder to understand and re-use.

// Brand colors
$primary-color: $blue-lighter-1;
$primary-color--darker: $blue-darker-1;

// Header
$header-fontcolor--primary: $white;
$header-fontcolor--secondary: $black-lighter-1;
$header-dropdown--item--active: $white;

// Font Sizes
