/*
 * Variables are one of the more straightforward features of Sass but are still on occasion
 * used incorrectly. Creating a site-wide naming convention is essential when working with Variables.
 * Without one, they become harder to understand and re-use.
 */

$white: white;
$black: black;

// STATUS
$status-success: #468847;
$status-error: #b94a48;
$status-warning: #c09853;

// HEADER
$header-primary-color: #678DD7;
$header-active-color: #5F87D4;
$header-accent-color: #577DC7;
$header-font-primary-color: #fff;
$header-font-secondary-color: #333;
$header-dropdown-active-item: #f5f5f5;