# Logging
logging.file=
logging.level=info

# Database settings
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://localhost/omegaup?autoReconnect=true
db.user=
db.password=

# Compiler settings
c.compiler.path=/usr/bin/gcc
cpp.compiler.path=/usr/bin/g++
java.compiler.path=/usr/bin/javac
java.runtime.path=/usr/bin/java

# Paths
compile.root=/opt/omegaup/omegaup/compile
grader.root=/opt/omegaup/omegaup/grade
input.root=/opt/omegaup/omegaup/input
problems.root=/opt/omegaup/omegaup/problems
submissions.root=/opt/omegaup/omegaup/submissions
runner.sandbox.path=/opt/omegaup/sandbox

# Grader
grader.deregister.url=https://localhost:21680/deregister/
grader.embedded_runner.enable=true
grader.keystore.password=omegaup
grader.keystore=omegaup.jks
grader.memory_limit=2048
grader.password=omegaup
grader.port=21680
grader.register.url=https://localhost:21680/register/
grader.truststore.password=omegaup
grader.truststore=omegaup.jks

# Runner
runner.keystore.password=omegaup
runner.keystore=omegaup.jks
runner.password=omegaup
runner.port=0
runner.preserve=false
runner.truststore.password=omegaup
runner.truststore=omegaup.jks
