name: Build containers

on:
  push:
    branches:
      - main
      - release

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Build docker containers
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
          TAG: ${{ github.sha }}
        run: |
          docker compose --file=docker-compose.k8s.yml build \
            --build-arg BRANCH=${{ steps.extract_branch.outputs.branch }} \
            frontend \
            frontend-sidecar \
            nginx \
            php \
            ai-editorial-worker

      - name: Push containers to GitHub registry
        run: |
          echo "${{ github.token }}" | \
            docker login ghcr.io "--username=${{ github.actor }}" --password-stdin

          for container in frontend frontend-sidecar nginx php ai-editorial-worker; do
            for tag in "latest-${{ steps.extract_branch.outputs.branch }}" "${{ github.sha }}"; do
              container_name="ghcr.io/${{ github.repository_owner }}/${container}:${tag}"
              docker tag "omegaup/${container}:${{ github.sha }}" "${container_name}"
              docker push "${container_name}"
            done
          done

      - name: Push containers to Docker registry
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | \
            docker login "--username=${{ secrets.DOCKER_USERNAME }}" --password-stdin

          for container in frontend frontend-sidecar nginx php ai-editorial-worker; do
            docker push "omegaup/${container}:${{ github.sha }}"

            container_name="omegaup/${container}:latest-${{ steps.extract_branch.outputs.branch }}"
            docker tag "omegaup/${container}:${{ github.sha }}" "${container_name}"
            docker push "${container_name}"
          done

      - name: Update k8s sandbox manifests
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          KUSTOMIZE_VERSION=5.8.1
          curl -sLo /tmp/kustomize.tar.gz \
            "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv${KUSTOMIZE_VERSION}/kustomize_v${KUSTOMIZE_VERSION}_linux_amd64.tar.gz"
          echo "029a7f0f4e1932c52a0476cf02a0fd855c0bb85694b82c338fc648dcb53a819d  /tmp/kustomize.tar.gz" | sha256sum -c
          tar -xzf /tmp/kustomize.tar.gz -C /tmp/
          sudo mv /tmp/kustomize /usr/local/bin/

          git clone --depth=1 https://omegaup-bot:${{ secrets.OMEGAUPBOT_RELEASE_TOKEN }}@github.com/omegaup/prod /tmp/prod
          TAG=${{ github.sha }}
          (cd /tmp/prod/k8s/omegaup/overlays/sandbox/frontend &&
           git config --local user.name "omegaup-bot" && \
           git config --local user.email "omegaup-bot@users.noreply.github.com" && \
           kustomize edit set image \
             omegaup/php:${TAG} \
             omegaup/nginx:${TAG} \
             omegaup/frontend:${TAG} \
             omegaup/frontend-sidecar:${TAG} \
             omegaup/ai-editorial-worker:${TAG} &&
           sed -i "s/app.kubernetes.io\/version: .*/app.kubernetes.io\/version: ${TAG}/" frontend-deployment.yaml &&
           git commit -am "omegaUp sandbox release ${TAG}" &&
           git push)
          rm -rf /tmp/prod

      - name: Update k8s manifests
        if: ${{ github.ref == 'refs/heads/release' }}
        run: |
          KUSTOMIZE_VERSION=5.8.1
          curl -sLo /tmp/kustomize.tar.gz \
            "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv${KUSTOMIZE_VERSION}/kustomize_v${KUSTOMIZE_VERSION}_linux_amd64.tar.gz"
          echo "029a7f0f4e1932c52a0476cf02a0fd855c0bb85694b82c338fc648dcb53a819d  /tmp/kustomize.tar.gz" | sha256sum -c
          tar -xzf /tmp/kustomize.tar.gz -C /tmp/
          sudo mv /tmp/kustomize /usr/local/bin/

          git clone --depth=1 https://omegaup-bot:${{ secrets.OMEGAUPBOT_RELEASE_TOKEN }}@github.com/omegaup/prod /tmp/prod
          TAG=${{ github.sha }}
          (cd /tmp/prod/k8s/omegaup/overlays/production/frontend &&
           git config --local user.name "omegaup-bot" && \
           git config --local user.email "omegaup-bot@users.noreply.github.com" && \
           kustomize edit set image \
             omegaup/php:${TAG} \
             omegaup/nginx:${TAG} \
             omegaup/frontend:${TAG} \
             omegaup/frontend-sidecar:${TAG} \
             omegaup/ai-editorial-worker:${TAG} &&
           sed -i "s/app.kubernetes.io\/version: .*/app.kubernetes.io\/version: ${TAG}/" frontend-deployment.yaml &&
           git commit -am "omegaUp production release ${TAG}" &&
           git push)
          rm -rf /tmp/prod
