name: CI

on:
  workflow_call: # make this workflow reusable
  pull_request: {}
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  verify-action-hashes:
    name: Verify Action Hashes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0

      - name: Install yq
        run: |
          wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          chmod +x /usr/local/bin/yq

      - name: Install jq
        run: |
          sudo apt-get update && sudo apt-get install -y jq

      - name: Run verification
        run: |
          ./hack/gha-reversemap.sh verify-mapusage

  php:
    runs-on: ubuntu-22.04
    needs: verify-action-hashes

    services:
      mysql:
        image: mysql:8.0.34
        ports:
          - 13306:13306
        env:
          MYSQL_ROOT_PASSWORD:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_USER: omegaup
          MYSQL_PASSWORD: omegaup
          MYSQL_DATABASE: omegaup-test
          MYSQL_TCP_PORT: 13306

      redis:
        image: redis
        ports:
          - 6379:6379

      rabbitmq:
        image: rabbitmq:3-management-alpine
        ports:
          - 5672:5672
          - 15672:15672
        env:
          RABBITMQ_DEFAULT_USER: 'omegaup'
          RABBITMQ_DEFAULT_PASS: 'omegaup'

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          python-version: '3.11'

      - name: Add mysql as alias to localhost
        run: |
          cat << EOF | sudo tee --append /etc/hosts
          127.0.0.1 mysql
          EOF

      - name: Add rabbitmq as alias to localhost
        run: |
          cat << EOF | sudo tee --append /etc/hosts
          127.0.0.1 rabbitmq
          EOF

      - name: Use PHP 8.1
        run: |
          sudo update-alternatives --install /usr/bin/php php /usr/bin/php8.1 100
          # Enable APCu for tests
          echo 'apc.enable_cli=1' | sudo tee --append /etc/php/8.1/cli/conf.d/20-apcu.ini >/dev/null
          # Enable coverage for XDebug so that codecov can do its magic.
          echo 'xdebug.mode=coverage' | sudo tee --append /etc/php/8.1/cli/conf.d/20-xdebug.ini >/dev/null

      - name: Create default configuration files
        run: |
          cat > frontend/tests/test_config.php <<EOF
          <?php
          define('OMEGAUP_DB_HOST', 'localhost:13306');
          define('REDIS_HOST', 'localhost');
          define('REDIS_PASS', '');
          EOF

      - name: Download gitserver
        run: |
          DOWNLOAD_URL='https://github.com/omegaup/gitserver/releases/download/v1.9.13/omegaup-gitserver.tar.xz'
          curl --location "${DOWNLOAD_URL}" | sudo tar -xJv -C /

          # omegaup-gitserver depends on libinteractive.
          DOWNLOAD_URL='https://github.com/omegaup/libinteractive/releases/download/v2.0.27/libinteractive.jar'
          TARGET='/usr/share/java/libinteractive.jar'
          sudo curl --location "${DOWNLOAD_URL}" -o "${TARGET}"

      - name: Install Python dependencies
        run: |
          python3 -m pip install --user setuptools
          python3 -m pip install --user wheel
          python3 -m pip install --user \
            -r stuff/requirements.txt

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install composer dependencies
        run: composer install --prefer-dist --no-progress

      - name: Create database users
        run: |
          mysql \
            -uroot --skip-password --port=13306 --protocol=TCP \
            -e 'CREATE USER "omegaup"@"localhost" IDENTIFIED BY "omegaup";'

      - name: Validate database migration scripts
        run: |
          python3 stuff/db-migrate.py --skip-container-check validate

      - name: Create test database
        run: |
          python3 stuff/db-migrate.py \
            --skip-container-check \
            --username=root --password= --hostname=localhost --port=13306 \
            migrate --databases=omegaup-test

      - name: Validate database schema
        run: |
          python3 stuff/policy-tool.py \
            --skip-container-check \
            --username=root --password= --hostname=localhost --port=13306 \
            --database=omegaup-test \
            validate
          python3 stuff/database_schema.py \
            --skip-container-check \
            --username=root --password= --hostname=localhost --port=13306 \
            --database=omegaup-test \
            validate --all < /dev/null

      - name: Run tests
        env:
          MYSQL_TCP_PORT: 13306
        timeout-minutes: 20
        run: ./stuff/mysql_types.sh

      - name: Run Psalm
        run: |
          # Create optional directories to simplify psalm config.
          mkdir -p frontend/www/{phpminiadmin,preguntas}
          cat > frontend/server/config.php <<EOF
          <?php
          define('OMEGAUP_LOG_FILE', 'php://stderr');
          EOF
          ./vendor/bin/psalm \
            --output-format=github \
            --long-progress \
            --show-info=false

      # continue-on-error: CI passes when CODECOV_TOKEN is missing or upload fails; remove once secret is added and stable
      - name: Upload code coverage
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: php
          fail_ci_if_error: false
          handle_no_reports_found: true

      - name: Upload artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: frontend-test-logs-${{ github.run_attempt }}
          path: frontend/tests/runfiles/*/*.log

      - name: Upload inefficient queries
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: inefficient-queries
          path: stuff/inefficient_queries.csv
          if-no-files-found: ignore

  javascript:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: recursive

      - name: Install yarn dependencies
        run: yarn install

      - name: Run JavaScript tests
        run: yarn test:coverage

      # continue-on-error: CI passes when CODECOV_TOKEN is missing or upload fails; remove once secret is added and stable
      - name: Upload code coverage
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: javascript
          fail_ci_if_error: false
          handle_no_reports_found: true

  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: recursive

      - name: Use PHP 8.1
        run: |
          sudo update-alternatives --install /usr/bin/php php /usr/bin/php8.1 100
          # Enable APCu for tests
          echo 'apc.enable_cli=1' | sudo tee --append /etc/php/8.1/cli/conf.d/20-apcu.ini >/dev/null
          # Enable coverage for XDebug so that codecov can do its magic.
          echo 'xdebug.mode=coverage' | sudo tee --append /etc/php/8.1/cli/conf.d/20-xdebug.ini >/dev/null

      - name: Create default configuration files
        run: |
          cat > frontend/server/config.php <<EOF
          <?php
          define('OMEGAUP_LOG_FILE', 'php://stderr');
          EOF

      - name: Install yarn dependencies
        run: yarn install

      - name: Install composer dependencies
        run: composer install --prefer-dist --no-progress

      - name: Install Python dependencies
        run: python3 -m pip install --user yapf==0.30.0

      - name: Get docker container
        run: ./stuff/lint.sh ensure-container

      - name: Run linters
        run: |
          # Create optional directories to simplify psalm config.
          mkdir -p frontend/www/{phpminiadmin,preguntas}
          cat > frontend/server/config.php <<EOF
          <?php
          define('OMEGAUP_LOG_FILE', 'php://stderr');
          EOF
          touch 'frontend/tests/test_config.php'

          docker run --rm \
            --user "$(id -u)":"$(id -g)" \
            --volume "${PWD}:/src" \
            --volume "${PWD}:${PWD}" \
            --volume "${PWD}:/opt/omegaup" \
            --mount 'type=tmpfs,destination=/home/.cache,tmpfs-mode=1777' \
            --mount 'type=tmpfs,destination=/home/.local,tmpfs-mode=1777' \
            --env 'HOME=/home' \
            --env 'MYPYPATH=/opt/omegaup/stuff' \
            --env 'VIRTUAL_ENV=/opt/omegaup/stuff/venv' \
            --entrypoint='' \
            "$(grep CONTAINER_VERSION= stuff/lint.sh | cut -f2 -d=)" \
            bash -c "\
            python3 -m venv /opt/omegaup/stuff/venv && \
            . /opt/omegaup/stuff/venv/bin/activate && \
            python3 -m pip install wheel && \
            python3 -m pip install -r /opt/omegaup/stuff/requirements.txt"
          ./stuff/lint.sh --diagnostics-output=github validate --all < /dev/null

      - name: Run Psalm
        run: |
          find frontend/ \
            -name *.php \
            -and -not -wholename 'frontend/server/libs/third_party/*' \
            -and -not -wholename 'frontend/tests/badges/*' \
            -and -not -wholename 'frontend/tests/controllers/*' \
            -and -not -wholename 'frontend/tests/runfiles/*' \
            -and -not -wholename 'frontend/www/preguntas/*' \
          | xargs ./vendor/bin/psalm \
            --output-format=github \
            --long-progress \
            --show-info=false

      - name: Find unused translation strings
        run: ./stuff/unused_translation_strings.py

      - name: Validate generated Python API syntax
        run: php frontend/server/cmd/APITool.php --file api.py | yapf > /dev/null

  cypress:
    runs-on: ubuntu-22.04
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: recursive

      - name: Prepare Environment
        uses: ./.github/actions/prepare-env
        with:
          install_host_python_deps: true

      - name: Install yarn dependencies
        run: yarn install

      - name: Build webpack resources
        run: yarn build

      - name: Wait for dependencies
        run: |
          wait-for-it -t 30 grader:21680

      - name: Run Cypress tests
        run: |
          ./node_modules/.bin/cypress run --browser chrome

      - name: Collect container logs
        if: ${{ always() }}
        run: |
          mkdir -p frontend/tests/runfiles/containers
          for name in $(docker ps --format '{{.Names}}'); do
            docker logs --timestamps --since 1970-01-01T00:00:00 "${name}" > \
              "frontend/tests/runfiles/containers/${name}.log" 2>&1
          done

      - name: Upload cypress screenshot artifacts
        if: ${{ always() && hashFiles('cypress/screenshots/**/*') != '' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: cypress-screenshots-${{ github.run_attempt }}
          path: cypress/screenshots

      - name: Upload cypress videos artifacts
        if: ${{ always() && hashFiles('cypress/videos/**/*') != '' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: cypress-videos-${{ github.run_attempt }}
          path: cypress/videos

  python:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Prepare Environment
        uses: ./.github/actions/prepare-env

      - name: Wait for RabbitMQ
        run: |
          retry -t 5 -d 5 -- docker compose exec -T rabbitmq rabbitmqctl await_startup

      - name: Run Python tests
        run: |
          docker compose exec -T frontend python3 -m pytest --verbose --timeout=20 --ignore=./stuff/teaching_assistant/ ./stuff/

      - name: Collect container logs
        if: ${{ always() }}
        run: |
          mkdir -p /tmp/container-logs
          for name in $(docker ps --format '{{.Names}}'); do
            docker logs --timestamps --since 1970-01-01T00:00:00 "${name}" > \
              "/tmp/container-logs/${name}.log" 2>&1
          done

      - name: Upload artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: python-test-logs
          path: /tmp/container-logs/*.log

  teaching-assistant:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: recursive

      - name: Prepare Environment
        uses: ./.github/actions/prepare-env
        with:
          install_host_python_deps: true
          extra_python_requirements: stuff/teaching_assistant/requirements.txt

      - name: Run pre setup for course mode
        run: |
          pytest stuff/teaching_assistant/test_ta_course_mode_pre.py -s

      - name: Run the teaching assistant for course mode
        run: |
          cd stuff/teaching_assistant
          python teaching_assistant.py --test_mode --skip-confirm --username teacher --password teacher123 --student_name student --language English --course_alias course --ta_feedback_indicator AI-generated --submission_id_mode false --assignment_alias assignment --llm omegaup --key omegaup

      - name: Run post check for course mode
        run: |
          pytest stuff/teaching_assistant/test_ta_course_mode_post.py --log-cli-level=INFO -s

      - name: Run check for submission mode
        run: |
          pytest stuff/teaching_assistant/test_ta_submission_mode.py --log-cli-level=INFO -s
