name: Cleanup GitHub Actions caches for closed PRs

on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
    steps:
      - name: Cleanup PR caches
        run: |
          echo "Fetching list of cache keys for PR #${{ github.event.pull_request.number }}"
          cacheKeysForPR=$(gh cache list --ref $BRANCH --limit 100 --json id --jq '.[].id')

          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              gh cache delete $cacheKey
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge
