name: "Pull Request Labeler"

on:
    pull_request_target:
        types: [opened, synchronize, closed]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    labeler:
        permissions:
            contents: read
            pull-requests: write
            issues: write
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b
              with:
                  repo-token: "${{ secrets.GITHUB_TOKEN }}"
                  sync-labels: true
                  dot: true
