name: PR Size Labeler

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  labeler:
    permissions:
      pull-requests: write
      contents: read
      issues: write
    runs-on: ubuntu-22.04
    name: Label the PR size
    steps:
      - name: Remove existing PR size labels
        uses: actions/github-script@v7
        with:
          script: |
            const sizeLabels = ['size/XS', 'size/S', 'size/M', 'size/L', 'size/XL'];
            const issueNumber = context.payload.pull_request.number;
            const { data: labels } = await github.rest.issues.listLabelsOnIssue({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: issueNumber,
            });
            for (const label of labels) {
              if (sizeLabels.includes(label.name)) {
                core.info(`Removing label ${label.name}`);
                await github.rest.issues.removeLabel({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: issueNumber,
                  name: label.name,
                });
              }
            }
      - uses: codelytv/pr-size-labeler@v1
        with:
          xs_label: "size/XS"
          xs_max_size: "10"
          s_label: "size/S"
          s_max_size: "50"
          m_label: "size/M"
          m_max_size: "200"
          l_label: "size/L"
          l_max_size: "300"
          xl_label: "size/XL"
          fail_if_xl: "true"
          message_if_xl: >
            ⚠️ This PR exceeds the recommended size of 300 lines.

            Please make sure you are NOT addressing multiple issues with one PR. If it's possible to split this work into smaller, focused changes, that would be great and will help with review.

            Note: This PR might require additional review time due to its size.
          github_api_url: "https://api.github.com"
          files_to_ignore: |
            composer.lock
            yarn.lock
            *.lock
            frontend/www/js/dist/*
            frontend/www/css/dist/*
            frontend/www/media/dist/*
            coverage/*
            coverage.xml
            frontend/www/grader/ephemeral/index-light.html
            frontend/www/grader/ephemeral/index.html
          ignore_line_deletions: "false"
          ignore_file_deletions: "false"
