# The purpose of this workflow is to verify consistency between the
# `.gha-reversemap.yml` file and the `uses:` lines in the workflows.
# In particular, this workflow checks that `hack/gha-reversemap.sh
# apply-reversemap` makes no change.

name: Verify Action Hashes

on:
  workflow_call: # make this workflow reusable
  # So we can trigger manually if needed
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/*"
      - ".gha-reversemap.yml"
  pull_request:
    paths:
      - ".github/workflows/*"
      - ".gha-reversemap.yml"

permissions:
  contents: read

jobs:
  verify-hashes:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          # Need a full clone to get the hack/ directory
          fetch-depth: 0

      - name: Install yq
        run: |
          # Install yq for YAML processing
          wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          chmod +x /usr/local/bin/yq

      - name: Install jq
        run: |
          # Install jq for JSON processing
          sudo apt-get update && sudo apt-get install -y jq

      - name: Run verification
        run: |
          ./hack/gha-reversemap.sh verify-mapusage
